html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #2e2e2e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 100px;
}

.landing-page {
    width: 100%;
    height: auto;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.side-img{
    width: 150px;
    height: auto;
}